<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script defer>
      window.addEventListener("resize", function () {
        const element = document.getElementById("bs-navbar");
        const card = document.getElementById("card-bs");
        if (window.innerWidth <= 567) {
          {
            element.classList.remove("flex-row");
            element.classList.add("flex-column");
          }
        } else {
          element.classList.remove("flex-column");
          element.classList.add("flex-row");
        }
      });
    </script>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
    <title>Bootstrap Products Page</title>
    <style>
      * {
        font-family: "Lato", sans-serif;
      }

      .cursor-pointer {
        cursor: pointer;
      }
      .cursor-not-allowed {
        cursor: not-allowed;
      }

      .border-bottom-cs:hover {
        border-bottom: solid 2px #fff;
      }

      div.card-item-cs {
        transition: transform 0.2s;
      }

      div.card-item-cs:hover {
        transform: scale(1.052);
      }

      .shadow-cs:hover {
        box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
      }

      .shadow-cs {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .opacity-0 {
        opacity: 0 !important;
      }
      .opacity-1 {
        opacity: 0.2 !important;
      }
      .opacity-2 {
        opacity: 0.4 !important;
      }
      .opacity-3 {
        opacity: 0.6 !important;
      }
      .opacity-4 {
        opacity: 0.8 !important;
      }
      .opacity-5 {
        opacity: 1 !important;
      }

      .carousel-item img {
        object-fit: inherit;
      }
    </style>
  </head>
  <body>
    <!-- navigation bar start -->
    <nav class="navbar navbar-light bg-primary">
      <div class="container-fluid mx-5 d-flex flex-row" id="bs-navbar">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="../images/logo64.png"
            alt=""
            width="45"
            height="45"
            class="d-inline-block align-top"
          />
          <span class="fs-3 fw-bold text-white"> CQKart </span>
        </a>

        <div class="row">
          <a
            href="#"
            class="col d-flex align-items-center cursor-pointer border-bottom-cs"
            id="signup"
          >
            <i class="bi bi-person-circle fs-3 text-white pe-1"></i>
            <span class="fw-bold fs-5 text-white">SignUp</span>
          </a>
          <a
            href="#1"
            class="col d-flex align-items-center cursor-pointer border-bottom-cs"
            id="login"
          >
            <i
              class="bi bi-box-arrow-in-right fs-3 pe-1 text-white"
              style="color: red"
            ></i>
            <span class="fw-bold fs-5 text-white">LogIn</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- navigation bar section ends -->
    <section class="container-fluid crosual">
      <div
        id="carouselExampleIndicators"
        class="carousel slide px-5 py-5"
        data-bs-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
          ></li>
          <li
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
          ></li>
          <li
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../images/sale6.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../images/sale5.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../images/sale4.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </section>
    <!-- produt section start -->
    <section class="container-fluid border m-auto" id="product-bs">
      <%-include("../partials/spinner.ejs") %>
      <!-- if conditon -->
      <% if(product_list) { %>
      <script>
        const element = document.getElementById("product-bs");
        element.removeChild(element.childNodes[1]);
      </script>
      <!-- array of objects -->
      <div class="d-flex flex-wrap my-auto">
        <% product_list.forEach((product,index)=>{ %>

        <!-- destruturing object -->
        <%const{product_name,image_url,pid,description,quantity,price}=product;%>

        <!-- discounted_price -->
        <%var discounted_price= price-Math.round(( price/100)*30);%>

        <!-- card section start -->
        <div
          class="mx-auto py-3 cursor-pointer card-item-cs flex-wrap"
          id="card-bs"
        >
          <div
            class="card py-3 border-2 rounded shadow-cs"
            style="width: 18rem"
          >
            <img
              src="<%=image_url%>"
              class="rounded mx-auto d-block cursor-pointer"
              alt="..."
              width="120px"
              height="120px"
            />
            <div class="card-body">
              <h5 class="card-title text-center fw-bold" id="x">
                <%=product_name%>
              </h5>
              <p class="text-center fw-bold">
                Price:
                <span class="text-decoration-line-through text-danger px-1"
                  >₹<%=price %>
                </span>
                <span class="text-success"> ₹<%=discounted_price%></span>
              </p>
              <div class="d-grid gap-2">
                <!--view description btn  -->
                <button
                  class="btn btn-secondary text-capitalize"
                  type="button"
                  id="view-<%=pid%>"
                >
                  view description
                </button>

                <script>
                  document
                    .getElementById("view-<%=pid%>")
                    .addEventListener("click", () => {
                      alert("1");
                    });
                </script>

                <!--add to cart btn  -->
                <button
                  class="btn btn-success text-capitalize"
                  type="button"
                  id="add-<%=pid%>"
                >
                  Add to Cart
                  <i class="bi bi-cart-fill cursor-pointer fs-5"></i>
                </button>

                <script>
                  document
                    .getElementById("add-<%=pid%>")
                    .addEventListener("click", (event) => {
                      const targetElement = event.target;
                      const element = document.getElementById("add-<%=pid%>");
                      while (element.firstChild) {
                        element.removeChild(element.firstChild);
                      }
                      const span = document.createElement("span");

                      targetElement.classList.add(
                        "opacity-4",
                        "disabled",
                        "cursor-not-allowed"
                      );
                      const textNode = document.createTextNode(`Adding... `);
                      span.classList.add("spinner-border", "spinner-border-sm");
                      element.appendChild(textNode);
                      element.appendChild(span);

                      fetch("/test")
                        .then((res) => {
                          // remove all child nodes
                          element.classList.remove("opacity-4");
                          while (element.firstChild) {
                            element.removeChild(element.firstChild);
                          }
                          if (res.status >= 200 && res.status < 300) {
                            return res.text();
                          } else {
                            let err = new Error(res.statusText);
                            err.response = res;
                            throw err;
                          }
                        })
                        .then((res) => {
                          const i = document.createElement("i");
                          const textNode = document.createTextNode(
                            `Added to the cart `
                          );
                          i.classList.add(
                            "bi",
                            "bi-cart-check-fill",
                            "cursor-pointer",
                            "fs-5"
                          );
                          element.appendChild(textNode);
                          element.appendChild(i);
                          console.log(res);
                        })
                        .catch((err) => {
                          targetElement.classList.remove("btn-success");
                          element.classList.remove("opacity-4 , disabled");

                          targetElement.classList.add("btn-info", "text-white");
                          const i = document.createElement("i");
                          const textNode = document.createTextNode(
                            `Some error occured `
                          );
                          i.classList.add(
                            "bi",
                            "bi-emoji-frown",
                            "cursor-pointer",
                            "fs-5"
                          );
                          element.appendChild(textNode);
                          element.appendChild(i);
                        });
                    });
                </script>

                <!--wishlist btn  -->
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button
                    class="btn btn-danger text-capitalize mx-1 rounded"
                    type="button"
                    id="wish-<%=pid%>"
                  >
                    wishList
                    <i class="bi bi-heart-fill cursor-pointer"></i>
                  </button>
                  <script>
                    document
                      .getElementById("wish-<%=pid%>")
                      .addEventListener("click", () => {
                        alert("<%=product_name%>");
                      });
                  </script>
                  <!-- buy btn -->
                  <button
                    class="btn btn-warning text-capitalize text-white rounded"
                    type="button"
                    id="buy-<%=pid%>"
                  >
                    Buy Now
                    <i class="bi bi-bag-fill fs-5 cursor-pointer"></i>
                  </button>
                  <script>
                    document
                      .getElementById("buy-<%=pid%>")
                      .addEventListener("click", () => {
                        alert("<%=product_name%>");
                      });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card section ends -->
        <!-- forEach ends -->
        <%})%>
      </div>
      <!-- if ends -->
      <%}%>
    </section>
    <!-- produt section ends -->
  </body>
</html>
